<section class="get">
    <div>
        <div class="row"><br />
            <a href="/filtre">Filtrer</a><br />
            <form action="/tri/age" method="post">
                <input type="hidden" name="which" value="{{which}}">
                <button type="submit">Trier par age</button>
            </form>
            {{ msg }}
            {{# each items }}
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ this.prenom }} {{ this.nom }}</span>
                            <p>Sexe : {{ this.sexe }}</p>
                            <p>Age : {{ this.age }}</p>
                            <p>id : {{ this._id }}</p>
                        </div>
                        <form action="/liste/delete" method="post" style="text-align: center;">
                            <input type="hidden" value="{{ this._id }}" name="id">
                            <!--<button class="btn btn-danger" type="submit">Delete</button>-->
                            <!--<button class="btn btn-primary" type="submit" formaction="/liste/profil">Profil</button>-->
                        </form>
                    </div>
                </div>
            {{/each}}
            Peut etre que ceci vous interessera aussi ?<br />
            {{# each maybe }}
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ this.prenom }} {{ this.nom }}</span>
                            <p>Sexe : {{ this.sexe }}</p>
                            <p>Age : {{ this.age }}</p>
                            <p>id : {{ this._id }}</p>
                        </div>
                        <form action="/liste/delete" method="post" style="text-align: center;">
                            <input type="hidden" value="{{ this._id }}" name="id">
                            <!--<button class="btn btn-danger" type="submit">Delete</button>-->
                            <!--<button class="btn btn-primary" type="submit" formaction="/liste/profil">Profil</button>-->
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>