<h1>{{ items.prenom }}</h1>

{{#each items.src_img}}
    <img class="photo" src="{{this}}">
{{/each}}
<div>Id: {{ items._id }}</div>
<div>Nom : {{items.nom}}</div>
<div>Prenom : {{items.prenom}}</div>
<div>Age : {{items.age }}</div>
<div>Sexe : {{items.sexe}}</div>
<div>Je recherche : {{items.need}}</div>
<div>Habite a : {{items.ville}}</div>
<div>Description : {{items.bio}}</div>
<div>Tags :
    {{# each items.tags }}
        #{{this}}&nbsp;
    {{/each}}
</div>
<br />
{{nop}}
<form action="/visit/like" method="post">
    <input type="hidden" id="me" name="me" value="{{ me }}">
    <input type="hidden" id="id" name="id" value="{{ items._id }}">
    <button type="submit">Oui</button>
</form>

<script src="/socket.io/socket.io.js"></script>

<script>
    var socket = io();
    window.onload = function() {
        socket.emit('new visit', {dest: $('#id').val(), from: $('#me').val()});
    };
</script>